.text-input {
  border-radius: 0.5em;
}

.text-input.invalid {
  border-color: red;
}

.error {
  color: red;
}

section {
  width: 100%;
}

.lobby-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.lobby-header * {
  flex-grow: 1;
}