body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#App {
  text-align: center;
}

#App-header {
  background-color: #06062f;
  font-size: calc(10px + 2vmin);
  color: white;
}

#landing-header {
  display: flex;
  flex-direction: column;
}

#lobby-game-header {
  display: flex;
  justify-content: space-around;
}

#App-body {
  margin: 1rem;
}

#landing,
#lobby,
#game {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#board,
#words,
#admin-panel,
#settings-form,
.tile,
.score-card,
.player-name {
  border-style: solid;
  border-color: grey;
  border-radius: 1rem;
}

#admin-panel {
  padding: 0rem 1rem 0.5rem 1rem;
}

#settings-form {
  margin-bottom: 0.5rem;
}

#lobby-players-title {
  margin-bottom: 0.5rem;
}

#player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-name {
  border-width: thin;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: lightblue;
}

#play-area {
  width: 90vw;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  margin: 0rem 0rem 2rem 0rem;
}

#board {
  display: flex;
  flex-flow: column;
  width: 60vmin;
  height: 60vmin;
  flex-grow: 0;
  margin: 0.5vw;
}

.board-row {
  height: 100%;
  display: flex;
}

.tile {
  background-color: lightblue;
  font-size: xx-large;
  margin: 0.5vmin;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#words {
  height: 60vmin;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0.5vw;
}

#word-input {
  border-bottom: solid lightgray;
}

#words-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow: auto;
}

#score-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.score-card,
.score-card-word-list {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.score-card-title {
  background-color: lightskyblue;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  margin: 0rem 0rem 0rem 0rem;
}

.score-card-word.wrong {
  background-color: lightcoral;
}

.score-card-word.shared {
  background-color: lightgrey;
}

.score-card-word.right {
  background-color: lightgreen;
}

.score-card-word:first-child {
  padding-top: 0.4rem;
}

.score-card-word:last-child {
  padding-bottom: 0.4rem;
}

.form-wrapper {
  padding-bottom: 0.5rem;
}

.text-input-wrapper {
  padding: 0.5rem;
}

.text-input {
  border-radius: 0.5em;
}

.text-input.invalid {
  border-color: red;
}

.error {
  color: red;
}
