#score-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.score-card {
  overflow: auto;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: grey;
  border-radius: 1rem;
}

.score-card-title {
  background-color: lightskyblue;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  margin: 0rem 0rem 0rem 0rem;
}
